[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
"autopep8" = "*"
rope = "*"

[packages]
nflgame = "*"
instagramapi = {editable = true,git = "https://github.com/LevPasha/Instagram-API-python.git"}
click = "*"
cerberus = "*"
pytz = "*"

[requires]
python_version = "2.7"
